<!-- OVERLAY -->
<div class="backdrop"></div>
<div (click)="_handleOverlayClick()" class="overlay"></div>
<nav class="menu-mobile">
  <a href="http://sigeva.ccsa.ufrn.br/login">Entrar</a>
  <a (click)="goToFromMenu('#s-inscription')" (keypress.enter)="goToFromMenu('#s-inscription')">Inscrição</a>
  <!--<a>Programação</a>-->
  <!-- <a (click)="goToFromMenu('#s-comment')" (keypress.enter)="goToFromMenu('#s-comment')">Contato</a> -->
</nav>
<!-- END - OVERLAY -->

<header>
  <div class="container">
    <div class="row">
      <div class="col-12 text-right">
        <a class="open-menu-mobile" style="float:left; font-size: 18px; padding-top: 6px;" (click)="toggleMenu()" (keypress.enter)="toggleMenu()">
          <i class="fa fa-bars" aria-hidden="true"></i>
        </a>

        <a style="float: right; display: block; cursor: pointer; padding-left: 10px;" class="login-container">
          <a class="login" tabindex="0" href="http://sigeva.ccsa.ufrn.br/login">ENTRAR</a>

        <div class="login" [ngClass]="{'open': _isLoginModalActive}">
          <div class="l">
            <form [formGroup]="_loginForm" (ngSubmit)="_login($event)" novalidate>
              <input #mailInput placeholder="Email" formControlName="mail">
              <input type="password" placeholder="Senha" formControlName="password">
              <button type="submit" style="cursor: pointer;" [disabled]="_isDoingLogin">{{ _isDoingLogin ? 'AGUARDE...' : 'LOGIN' }}</button>
            </form>
          </div>
          <div class="forgot" style="color: black;">
            <a (click)="_toggleResetPasswordModal()" (keypress.enter)="_toggleResetPasswordModal()">Esqueci a senha</a>
          </div>
        </div>
        </a>

        <a class="login" tabindex="0" (click)="_gotTo('#s-inscription')" (keypress.enter)="_gotTo('#s-inscription')" style="cursor:pointer;float: right; display: block; padding: 10px; padding-top: 14px;
                    height: 40px; margin-right: 10px;">
                        INSCREVER-SE
                </a>

        <a class="login" tabindex="0" (click)="_gotTo('#s-comment')" (keypress.enter)="_gotTo('#s-comment')" style="cursor:pointer;float: right; display: block; padding: 10px; padding-top: 14px;
                    height: 40px; margin-right: 10px;">
                        CONTATO
                </a>

        <a class="login" tabindex="0" (click)="_toggleNewsModal('#s-comment')" (keypress.enter)="_toggleNewsModal('#s-comment')"
          style="cursor:pointer;float: right; display: block; padding: 10px; padding-top: 14px;
                    height: 40px; margin-right: 10px;">
                        NOTÍCIAS
                </a>
      </div>
    </div>
  </div>
</header>

<main #mainContainer>

  <section class="logo">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <picture>
            <source srcset="assets/ng2/marca.png" media="(min-width: 768px)">
            <source srcset="assets/ng2/marca.png" media="(min-width: 0px)">
            <img width="100%" alt="Marca - Seminário de Pesquisa do CCSA">
          </picture>
        </div>
      </div>
    </div>
  </section>

  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="pattern3"></div>
      </div>
    </div>
  </div>


  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <nav class="main">
          <a class="blue" href="#">Programação(Em Breve)</a>
          <a class="blue" (click)="_toggleColoquioModal()" (keypress.enter)="_toggleColoquioModal()">Subeventos</a>
          <a class="blue" (click)="_gotTo('#s-inscription')" (keypress.enter)="_gotTo('#s-inscription')">Inscreva-se</a>
          <a class="blue" href="http://sigeva.ccsa.ufrn.br/login">Acessar</a>
        </nav>
      </div>
    </div>
  </div>

  <div class="container ">
    <div class="row">
      <div class="col-12 hidden-md-down">
        <div class="pattern3"></div>
      </div>
    </div>
  </div>

  <section class="presentation">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <b>O 25º Seminário de Pesquisa do CCSA/UFRN – Universidade, Direitos e Inclusão nas Ciências Sociais Aplicadas – </b> evidencia
          a preocupação do Centro de Ciências Sociais Aplicadas em consolidar um espaço para discussão e socialização do
          conhecimento produzido nas diferentes áreas das ciências sociais aplicadas (Direito, Economia, Administração, Serviço
          Social, Ciências Contábeis, Turismo e Biblioteconomia)
        </div>
        <div class="col-md-6">
          Tem como objetivo tornar acessível à comunidade universitária a produção científica existente no CCSA por meio da divulgação
          dos trabalhos apresentados; estimular a comunidade acadêmica do CCSA para a prática da pesquisa; contribuir para
          o desenvolvimento da pesquisa e da reflexão teórico-metodológica no campo das Ciências Sociais Aplicadas; abrir
          espaço para interlocução com outras áreas do conhecimento.
        </div>
      </div>
    </div>
  </section>

  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="pattern3"></div>
      </div>
    </div>
  </div>

  <!-- <section class="news">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1>NOVIDADES</h1>
        </div>
      </div>

      <carousel-videos></carousel-videos>

    </div>
  </section>

  <section class="news">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1>NOTÍCIAS</h1>
          <a (click)="_toggleNewsModal()" (keyup.enter)="_toggleNewsModal()" class="more-news">TODAS AS NOTÍCIAS</a>
        </div>
      </div>

      <carousel (openModal)="abrirUmaNoticia($event)" ></carousel>

    </div>
  </section>

  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="pattern2"></div>
      </div>
    </div>
  </div> -->

  <section class="downloads">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1 id="s-downloads">DOWNLOADS</h1>
          <nav>
            <!-- <a (click)="_togglePrazoModal()" (keypress.enter)="_togglePrazoModal()" target="_blank"> -->
            <a href="assets/ng2/download2019/NORMAS.pdf" target="_blank">
              <picture>
                <!-- greater size to lower size -->
                <source srcset="assets/ng2/download_01.png" media="(min-width: 768px)">
                <source srcset="assets/ng2/download_01_mobile.png" media="(min-width: 0px)">
                <img alt="Marca - Seminário de Pesquisa do CCSA">
              </picture>
              Normas
            </a>
            <!-- <a (click)="_togglePrazoModal()" (keypress.enter)="_togglePrazoModal()" target="_blank"> -->
            <a href="assets/ng2/download2019/template_poster.ppt" target="_blank">
              <picture>
                <!-- greater size to lower size -->
                <source srcset="assets/ng2/download_02.png" media="(min-width: 768px)">
                <source srcset="assets/ng2/download_02_mobile.png" media="(min-width: 0px)">
                <img alt="Marca - Seminário de Pesquisa do CCSA">
              </picture>
              Template para Pôster
            </a>
            <!-- <a (click)="_togglePrazoModal()" (keypress.enter)="_togglePrazoModal()" target="_blank"> -->
            <a href="assets/ng2/download2019/template_artigo.docx" target="_blank">
              <picture>
                <!-- greater size to lower size -->
                <source srcset="assets/ng2/download_02.png" media="(min-width: 768px)">
                <source srcset="assets/ng2/download_02_mobile.png" media="(min-width: 0px)">
                <img alt="Marca - Seminário de Pesquisa do CCSA">
              </picture>
              Template para Artigo
            </a>
            <!-- <a (click)="_togglePrazoModal()" (keypress.enter)="_togglePrazoModal()" target="_blank"> -->
            <a href="assets/ng2/download2019/template_caso_para_ensino.docx" target="_blank">
              <picture>
                <!-- greater size to lower size -->
                <source srcset="assets/ng2/download_02.png" media="(min-width: 768px)">
                <source srcset="assets/ng2/download_02_mobile.png" media="(min-width: 0px)">
                <img alt="Marca - Seminário de Pesquisa do CCSA">
              </picture>
              Template para Casos para Ensino
            </a>
            <!-- <a (click)="_togglePrazoModal()" (keypress.enter)="_togglePrazoModal()" target="_blank"> -->
            <a href="assets/ng2/download/ATC_Adm.pdf" target="_blank">
              <picture>
                <!-- greater size to lower size -->
                <source srcset="assets/ng2/download_02.png" media="(min-width: 768px)">
                <source srcset="assets/ng2/download_02_mobile.png" media="(min-width: 0px)">
                <img alt="Marca - Seminário de Pesquisa do CCSA">
              </picture>
              Créditos para Administração
            </a>
            <!-- <a (click)="_togglePrazoModal()" (keypress.enter)="_togglePrazoModal()" target="_blank"> -->
            <a href="assets/ng2/download/ATC_Contabeis.pdf" target="_blank">
              <picture>
                <!-- greater size to lower size -->
                <source srcset="assets/ng2/download_02.png" media="(min-width: 768px)">
                <source srcset="assets/ng2/download_02_mobile.png" media="(min-width: 0px)">
                <img alt="Marca - Seminário de Pesquisa do CCSA">
              </picture>
              Créditos para Ciências Contábeis
            </a>
            <!-- <a (click)="_togglePrazoModal()" (keypress.enter)="_togglePrazoModal()" target="_blank"> -->
            <a href="#" target="_blank">
              <picture>
                <!-- greater size to lower size -->
                <source srcset="assets/ng2/download_02.png" media="(min-width: 768px)">
                <source srcset="assets/ng2/download_02_mobile.png" media="(min-width: 0px)">
                <img alt="Marca - Seminário de Pesquisa do CCSA">
              </picture>
              Créditos para Ciências Econômicas
            </a>
            <a href="assets/ng2/download/ATC_Direito.pdf" target="_blank">
              <picture>
                <!-- greater size to lower size -->
                <source srcset="assets/ng2/download_02.png" media="(min-width: 768px)">
                <source srcset="assets/ng2/download_02_mobile.png" media="(min-width: 0px)">
                <img alt="Marca - Seminário de Pesquisa do CCSA">
              </picture>
              Créditos para Direito
            </a>
            <!-- <a (click)="_togglePrazoModal()" (keypress.enter)="_togglePrazoModal()" target="_blank"> -->
            <a href="assets/ng2/download/ATC_Turismo.pdf" target="_blank">
              <picture>
                <!-- greater size to lower size -->
                <source srcset="assets/ng2/download_02.png" media="(min-width: 768px)">
                <source srcset="assets/ng2/download_02_mobile.png" media="(min-width: 0px)">
                <img alt="Marca - Seminário de Pesquisa do CCSA">
              </picture>
              Créditos para Turismo
            </a>
            <a href="assets/ng2/download/ATC_Biblioteconomia.pdf" target="_blank">
              <picture>
                <!-- greater size to lower size -->
                <source srcset="assets/ng2/download_02.png" media="(min-width: 768px)">
                <source srcset="assets/ng2/download_02_mobile.png" media="(min-width: 0px)">
                <img alt="Marca - Seminário de Pesquisa do CCSA">
              </picture>
              Créditos para Biblioteconomia
            </a>
            <!-- <a (click)="_togglePrazoModal()" (keypress.enter)="_togglePrazoModal()" target="_blank"> -->
            <a href="assets/ng2/download/ATC_Servico_Social.pdf" target="_blank">
              <picture>
                <!-- greater size to lower size -->
                <source srcset="assets/ng2/download_02.png" media="(min-width: 768px)">
                <source srcset="assets/ng2/download_02_mobile.png" media="(min-width: 0px)">
                <img alt="Marca - Seminário de Pesquisa do CCSA">
              </picture>
              Créditos para Serviço Social
            </a>
          </nav>
        </div>
      </div>
    </div>
  </section>

  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="pattern1"></div>
      </div>
    </div>
  </div>

  <section class="thematic-groups">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1><span>GRUPOS</span> TEMÁTICOS(Em Breve)</h1>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <ul class="main">
            <li *ngFor="let i of _gtsleft;let k2 = index;">
              <div class="ball"></div>
              <span>{{ i.name }}</span>
              <ul>
                <li *ngFor="let j of i.tgs; let k = index;">
                  <a (click)="openSub('div'+ k +'left'+ k2)" (keypress.enter)="openSub('div'+ k +'left'+ k2)">{{ j.name }}</a>
                  <div id="div{{ k }}left{{ k2 }}">
                    <p class="coordinators">{{ j.coordinators }}</p>
                    <p class="description">{{ j.syllabus }}</p>
                  </div>
                </li>
              </ul>
            </li>
          </ul>
        </div>

        <div class="col-md-6">
          <ul class="main">
            <li *ngFor="let i of _gtsright; let k2 = index;">
              <div class="ball"></div>
              <span>{{ i.name }}</span>
              <ul>
                <li *ngFor="let j of i.tgs; let k = index;">
                  <a (click)="openSub('div'+ k +'right'+ k2)" (keypress.enter)="openSub('div'+ k +'left'+ k2)">{{ j.name }}</a>
                  <div id="div{{ k }}right{{ k2 }}">
                    <p class="coordinators">{{ j.coordinators }}</p>
                    <p class="description">{{ j.syllabus }}</p>
                  </div>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <!-- end / section.thematic-group -->

  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="pattern3"></div>
      </div>
    </div>
  </div>

  <section class="register" style="margin: 0;">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1 id="s-inscription">INSCRIÇÕES</h1>
          <p>O <strong>Seminário de Pesquisa do CCSA</strong> utilizará a plataforma Sigeva (Sistema de Gestão de Eventos Acadêmicos),
            desenvolvida para suportar eventos do CCSA. Para efetuar inscrição no evento é necessário criar uma conta na
            plataforma que pode ser acessada pelo endereço
            <a href="http://sigeva.ccsa.ufrn.br" target="_blank">http://sigeva.ccsa.ufrn.br</a>.</p>
          <p>ATENÇÃO: Após criar uma conta no Sigeva deve-se fazer a inscrição na página do evento, que pode ser facilmente
            localizada na página inicial da plataforma. O usuário que não se inscrever no Sigeva e no evento não poderá ser
            citado como coautor em artigos, posteres e casos para ensino assim como não poderá ser inscrito como expositor
            em oficinas ou minicursos</p>
          <a href="http://sigeva.ccsa.ufrn.br" class="sigeva-btn">Acessar o Sigeva</a>
        </div>
      </div>
    </div>
  </section>

  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="pattern3"></div>
      </div>
    </div>
  </div>
  <section class="contact" style="margin:0;">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1 id="s-comment">CONTATO</h1>
          <p style="font-size: 1.4em; color: black">Telefone da Secretaria: 3342-2288(Ramal 352)</p>
          <form [formGroup]="_contactForm" (ngSubmit)="_sendMessage($event)" novalidate>
            <div class="form-control">
              <label>NOME:</label>
              <input placeholder="Nome Completo" formControlName="name">

              <div *ngIf="_contactForm.get('name').errors && (_contactForm.get('name').dirty || _contactForm.get('name').touched)">
                <p [hidden]="!_contactForm.get('name').hasError('required')">É obrigatório</p>
              </div>
            </div>

            <div class="form-control">
              <label>EMAIL:</label>
              <input placeholder="Email" formControlName="mail">

              <div *ngIf="_contactForm.get('mail').errors && (_contactForm.get('mail').dirty || _contactForm.get('mail').touched)">
                <p [hidden]="!_contactForm.get('mail').hasError('required')">É obrigatório</p>
              </div>
            </div>

            <div class="form-control">
              <label>ASSUNTO:</label>
              <input placeholder="Assunto" formControlName="subject">

              <div *ngIf="_contactForm.get('subject').errors && (_contactForm.get('subject').dirty || _contactForm.get('subject').touched)">
                <p [hidden]="!_contactForm.get('subject').hasError('required')">É obrigatório</p>
              </div>
            </div>

            <div class="form-control">
              <label>MENSAGEM:</label>
              <textarea placeholder="Mensagem" formControlName="message"></textarea>

              <div *ngIf="_contactForm.get('message').errors && (_contactForm.get('message').dirty || _contactForm.get('message').touched)">
                <p [hidden]="!_contactForm.get('message').hasError('required')">É obrigatório</p>
              </div>
            </div>

            <button type="submit">ENVIAR</button>
          </form>

        </div>
      </div>
    </div>
  </section>

  <section class="support">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="support-container">
            <div class="item">
              <h1>REALIZAÇÃO</h1>
              <div class="support-container">
                <img src="assets/ng2/ufrn.png">
                <img src="assets/ng2/ccsa.png">
              </div>
            </div>
            <div class="item">
              <h1>APOIO</h1>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- end / support -->

  <footer>
    <div class="container">
      <div class="row">
        <div class="col-12">
          ISSN 1808 6381 - <a href="https://ccsa-ufrn.github.io/" target="_black">ATCCSA</a>
        </div>
      </div>
    </div>
  </footer>

</main>

<div class="modal-news" [ngClass]="{'open': _isNewsModalOpen}">
  <div class="container-all">
    <div class="header">
      NOTÍCIAS
      <a (click)="_toggleNewsModal()" (keypress.enter)="_toggleNewsModal()">FECHAR</a>
    </div>
    <div class="container-modal">

      <ul>
        <li *ngFor="let n of _allNews">
          <h1>{{ n.data.title }}</h1>
          <p [innerHTML]="n.data.text"></p>
        </li>
      </ul>
      <!-- <p>Em Breve...</p> -->
    </div>
  </div>
</div>


<div class="modal-reset-password" [ngClass]="{'open': _isResetPasswordOpen}">
  <div class="container-all">
    <div class="header">
      RECUPERAR SENHA
      <a (click)="_toggleResetPasswordModal()" (keypress.enter)="_toggleResetPasswordModal()">FECHAR</a>
    </div>
    <div class="container-modal">
      <form [formGroup]="_resetPasswordForm">
        <input placeholder="Email" formControlName="mail">
        <button (click)="_resetPassword()" (keypress.enter)="_resetPassword()">OK</button>
      </form>
    </div>
  </div>
</div>

<!-- MODALS NOVOS -->

<div class="modal-news" [ngClass]="{'open': modalMinicurso}">
  <div class="container-all">
    <div class="header">
      MINICURSOS
      <a (click)="_toggleMinicursoModal()" (keypress.enter)="_toggleMinicursoModal()">FECHAR</a>
    </div>
    <div class="container-modal">

      <!-- <ul>
        <li> 1. A ATUAÇÃO ESTATAL NA INTERNAÇÃO CONTRA A VONTADE DE CONSUMIDORES DE SUBSTÂNCIAS PSICOATIVAS</li>
        <li> 2. A IMPORTÂNCIA E A AVALIAÇÃO DOS CONTROLES INTERNOS DE UMA EMPRESA – ROTINAS INTERNAS, ACESSOS, SEGREGAÇÃO DE FUNÇÕES,
          AMARRAÇÕES, LIMITAÇÕES DE CONTROLE, DESFALQUES TEMPORÁRIOS E PERMANENTES</li>
        <li> 3. A RESPONSABILIDADE CIVIL EXTRACONTRATUAL DO ESTADO PELA PRESTAÇÃO DE SERVIÇOS DE SAÚDE PÚBLICA</li>
        <li> 4. ANÁLISE DE DADOS CONTÁBEIS COM A UTILIZAÇÃO DAS FERRAMENTAS ESTATÍSTICA DO MICROSOFT EXCEL – TEORIA E PRÁTICA</li>
        <li> 5. COMO ELABORAR PEÇAS PROCESSUAIS CONSTITUCIONAIS -Turma 01: ADI, ADC, ADO e ADPF</li>
        <li> 6. COMO SUBMETER COM SUCESSO UM ARTIGO PARA UM PERIÓDICO CIENTÍFICO EM TURISMO: EXPERIÊNCIAS E TÉCNICAS</li>
        <li> 7. COMUNICAÇÃO EMPÁTICA</li>
        <li> 8. CONVIVÊNCIA COM O SEMIÁRIDO BRASILEIRO</li>
        <li> 9. DEFININDO ESTRATÉGIAS PARA ALAVANCAR O SUCESSO EMPRESARIAL COM OS REQUISITOS DA NORMA ISO 9001:2015 – SISTEMA
          DE GESTÃO DA QUALIDADE</li>
        <li> 10. ELABORANDO ARTIGOS CIENTÍFICOS: Foco nos Discentes de Ciências Contábeis” </li>
        <li> 11. ESTATUTO DA CIDADE E PLANO DIRETOR: ESTUDANDO ASPECTOS ESSENCIAIS DA POLÍTICA URBANA NO BRASIL </li>
        <li> 12. EXCEL AVANÇADO APLICADO NAS EMPRESAS </li>
        <li> 13. IMPORTÂNCIA DOS TRIBUTOS NO DESEMPENHO DA EMPRESA BRASILEIRA </li>
        <li> 14. IN VERBIS- NORMAS DA ABNT E PESQUISA CIENTÍFICA: PARA ENTENDER, PRODUZIR E PUBLICAR</li>
        <li> 15. INTRODUÇÃO À GESTÃO DE PROCESSOS </li>
        <li> 16. INTRODUÇÃO À TEORIA DA ESPECULAÇÃO </li>
        <li> 17. INTRODUÇÃO AO R </li>
        <li> 18. INVESTINDO EM AÇÕES E EM RENDA FIXA </li>
        <li> 19. MAPEAMENTO DE PROCESSOS COM O BIZAGI UTILIZANDO BPMN </li>
        <li> 20. MATEMÁTICA FINANCEIRA COM UTILIZAÇÃO DA HP12C </li>
        <li> 21. MICROGERAÇÃO DE ENERGIA ELÉTRICA E SUA REGULAÇÃO</li>
        <li> 22. MONITORAMENTO E CONTROLE DE PROJETOS</li>
        <li> 23. MULHER, MERCADO DE TRABALHO E A AGENDA DO TRABALHO DECENTE DA OIT</li>
        <li> 24. NORMALIZAÇÃO DE TRABALHOS ACADÊMICOS</li>
        <li> 25. NORMATIZAÇÃO ABNT REFERÊNCIAS CITAÇÕES EM TRABALHOS CIENTIFICOS</li>
        <li> 26. NOTAS EXPLICATIVAS: QUE BICHO É ESSE?</li>
        <li> 27. OS DESAFIOS NA SOCIEDADE CONTEMPORÂNEA NO COMBATE AO TRABALHO INFANTIL RURAL E SEXUAL</li>
        <li> 28. PLÁGIO NA ACADEMIA: TIPOS, CARACTERÍSTICA E COMO EVITAR</li>
        <li> 29. POR UMA NOVA HERMENÊUTICA DOS DIREITOS FUNDAMENTAIS: DEVERES DO ESTADO PARA COM AS POLÍTICAS PÚBLICAS</li>
        <li> 30. PROCESSO CONSTITUCIONAL BRASILEIRO</li>
        <li> 31. PROPORCIONALIDADE VS MORALIDADE</li>
        <li> 32. SETOR PESSOAL</li>
        <li> 33. SOCIEDADE DE DEBATES: ENSAIOS DE LÓGICA ARGUMENTATIVA E DESENVOLVIMENTO DE ORATÓRIA</li>
        <li> 34. USO DE BASES DE DADOS E FERRAMENTAS DE OTIMIZAÇÃO DE PESQUISA</li>
        <li> 35. A PRÁTICA DO ASSISTENTE SOCIAL NA EDUCAÇÃO</li>
        <li> 36. ANÁLISE DA VIABILIDADE ECONÔMICA DE UM EVENTO</li>
        <li> 37. ARTE E MARXISMO</li>
        <li> 38. CONSERVAÇÃO E RESTAURAÇÃO DE LIVROS</li>
        <li> 39. DA SINDICÂNCIA E DO PROCESSO ADMINISTRATIVO DISCIPLINAR</li>
        <li> 40. DIREITO E DESENVOLVIMENTO: O PROTAGONISMO CIDADÃO NA CONSTRUÇÃO DE UM DESENVOLVIMENTO SUSTENTÁVEL</li>
        <li> 41. DIREITOS DOS ANIMAIS: UM OLHAR DO DIREITO PARA ALÉM DO HUMANO.</li>
        <li> 42. DIVERSIDADE HUMANA, SEXUALIDADES E FEMINISMO: A PRESENÇA DA MULHER NA LITERATURA E DESAFIOS CONTEMPORÂNEOS</li>
        <li> 43. FOTOGRAFIA E TURISMO: O QUE SE PODE VER ALÉM DO OLHAR</li>
        <li> 44. INDEXAÇÃO DE IMAGENS</li>
        <li> 45. INFORMAÇÃO DIGITAL ACESSÍVEL</li>
        <li> 46. INTERACIONISMO SIMBÓLICO E ETNOMETODOLOGIA: PROPOSIÇÕES METODOLÓGICAS PARA PESQUISAS NA ADMINISTRAÇÃO PÚBLICA</li>
        <li> 47. INTRODUÇÃO À REDAÇÃO DE PARECER JURÍDICO - CASO ANARQUISTA</li>
        <li> 48. INTRODUÇÃO AO DIREITO DA PROPRIEDADE INTELECTUAL</li>
        <li> 49. MÉTODOS QUANTITATIVOS: CORRELAÇÃO E REGRESSÃO SIMPLES</li>
        <li> 50. O DIREITO À CIDADE E A VIOLÊNCIA DE GENERO</li>
        <li> 51. O ENFRENTAMENTO DA QUESTÃO SOCIAL E EMANCIPAÇÃO HUMANA NA PERSPECTIVA JURIDICA: OS LIMITES DO DIREITO E SEU CARÁTER
          DE CLASSE</li>
        <li> 52. PATRIMÔNIO CULTURAL E TURISMO NO BRASIL: CIDADE HISTÓRICAS COMO CIDADES TURÍSTICAS.</li>
        <li> 53. PATRIMÔNIO HISTÓRICO E CULTURAL DE NATAL NA ÓTICA DO TURISMO</li>
        <li> 54. SEUS DADOS PESSOAIS E A INTERNET: SITUAÇÃO DO DIREITO FUNDAMENTAL À PRIVACIDADE NA ERA DAS REDES SOCIAIS</li>
        <li> 55. SUSTENTABILIDADE SOCIOAMBIENTAL NA ADMINISTRAÇÃO PÚBLICA</li>
        <li> 56. TRUQUES DO WORD NA NORMATIZAÇÃO DE TRABALHOS ACADÊMICOS</li>
        <li> 57. AS LIÇÕES DE DIREITO DA TRILOGIA TEBANA DE SÓFOCLES: DE LAIO A ANTÍGONA</li>
        <li> 58. ASPECTOS GERAIS E AS MUDANÇAS APRESENTADAS PELO NOVO MARCO REGULATÓRIO DO TERCEIRO SETOR</li>
        <li> 59. AUDITORIA CONTÁBIL DE “ASSURANCE” NA PRÁTICA</li>
        <li> 60. CONSULTORIA ORGANIZACIONAL</li>
        <li> 61. DESMISTIFICANDO O MESTRADO: A PREPARAÇÃO, O INGRESSO, O CURSO E SUAS POSSIBILIDADES</li>
        <li> 62. DESMISTIFICANDO TRABALHOS CIENTÍFICOS</li>
        <li> 63. DIREITO AMBIENTAL</li>
        <li> 64. DIREITO, POLÍTICA TRIBUTÁRIA E DESIGUALDADES SOCIAIS: UM ESTUDO INTRODUTÓRIO</li>
        <li> 65. EXCEL AVANÇADO APLICADO NAS EMPRESAS</li>
        <li> 66. FINANÇAS PESSOAIS: MUDE SEUS HÁBITOS E TENHA SAÚDE FINANCEIRA CAPAZ DE TRANSFORMAR SUA VIDA ECONÔMICA EM UMA
          VIDA DE SUCESSO</li>
        <li> 67. GERENCIAMENTO DE TEMPO: FACILITANDO A VIDA DOS ALUNOS DA GRADUAÇÃO</li>
        <li> 68. INTRODUÇÃO À AVALIAÇÃO DE EMPRESAS (VALUATION) </li>
        <li> 69. LEVANTAMENTO E INTERPRETAÇÃO DE DADOS SOCIOECONÔMICOS DO IPEADATA</li>
        <li> 70. MARKETING JURÍDICO</li>
        <li> 71. O PODER DO PENSAMENTO INOVADOR – Como definir metas, alcança-las e inspirar pessoas </li>
        <li> 72. SISTEMAS E SOFTWARES LIVRES PARA TODOS: UMA ABORDAGEM FILOSÓFICA E SOCIOECONÔMICA BASEADA NA PROPRIEDADE COLETIVA
          DOS MEIOS DE PRODUÇÃO DIGITAIS </li>
      </ul> -->
      <p>Em Breve...</p>

    </div>
  </div>
</div>

<div class="modal-news" [ngClass]="{'open': modalOficina}">
  <div class="container-all">
    <div class="header">
      OFICINAS
      <a (click)="_toggleOficinaModal()" (keypress.enter)="_toggleOficinaModal()">FECHAR</a>
    </div>
    <div class="container-modal">

      <!-- <ul>
        <li>EXPLORANDO A BASE DE DADOS ECONOMÁTICA® José Mauro Madeiros Velôso Soares e Diogo Henrique Silva Lima Matutino</li>
        <li>MENDELEY, PESQUISA CIENTIFICA E GERENCIAMENTO DE BIBLIOGRAFIAS Victor Hugo da Silva Matutino</li>
        <li>OFICINA DE ARTIGOS CIENTÍFICOS – ESTRUTURA BÁSICA Jair Soares de Oliveira Segundo Matutino</li>
        <li>METODOLOGIA DO TRABALHO CIENTÍFICO NO TURISMO Mayara Ferreira de Farias Vespertino</li>
        <li>MÉTODOS E TÉCNICAS DE ELABORAÇÃO DE PROJETOS DE PESQUISA Mauro Lemuel Alexandre Vespertino</li>
        <li>MÉTODOS QUANTITATIVOS APLICADOS AO TURISMO Victor Hugo da Silva Vespertino</li>
        <li>MOSTRA DE CINEMA: GASTRONOMIA SUSTENTÁVEL (COCA-COLA – VOCÊ SABE O QUE ESTÁ TOMANDO?) Sueli Aparecida Moreira Vespertino</li>
        <li>MOSTRA DE CINEMA: GASTRONOMIA SUSTENTÁVEL (COWSPIRACY: O SEGREDO DA SUSTENTABILIDADE) Sueli Aparecida Moreira Vespertino</li>
        <li>MOSTRA DE CINEMA: GASTRONOMIA SUSTENTÁVEL (O LADO NEGRO DO CHOCOLATE) Sueli Aparecida Moreira Vespertino</li>
        <li>MOSTRA DE CINEMA: GASTRONOMIA SUSTENTÁVEL (PÃO NOSSO DE CADA DIA) Sueli Aparecida Moreira Vespertino</li>
        <li>MOSTRA DE CINEMA: GASTRONOMIA SUSTENTÁVEL (PIPOCA GOURMET)  Sueli Aparecida Moreira Vespertino</li>
        <li>OFICINA DE CASOS JURÍDICOS - CASO “ANARQUISTA” Fabrízia Pessoa Serafim e Jair Soares Vespertino</li>
        <li>A TEORIA CONSTITUCIONAL DO PROCESSO PENAL E A SEGURANÇA PÚBLICA: ASPECTOS POLÊMICOS NO RN Renata Araújo Soares Noturno</li>
        <li>CADASTRO E SUBMISSÃO DE ARTIGOS EM REVISTAS DE TURISMO Mayara Ferreira de Farias Noturno</li>
        <li>CADASTRO E UTILIZAÇÃO DAS FERRAMENTAS DA PLATAFORMA LATTES Mayara Ferreira de Farias Noturno</li>
        <li>ELABORAÇÃO DE ARTIGOS CIENTÍFICOS EM TURISMO Mayara Ferreira de Farias Noturno</li>
        <li>OFICINE III - POR TRÁS DA TELA: O PAPEL DO CINEMA NA TRANSFORMAÇÃO SOCIAL DE ATORES EM CONTEXTO DE VIOLÊNCIA E CRIMINALIDADE
          Fábio Ataíde e Marcus Aurélio Freitas Barros Noturno</li>
        <li>DINAMICAS E JOGOS PARA ORGANIZAÇÕES DE TRABALHO. Antonio Alves Filho Noturno</li>
      </ul> -->
      <p>Em Breve...</p>
    </div>
  </div>
</div>

<div class="modal-news" [ngClass]="{'open': modalMesaRedonda}">
  <div class="container-all">
    <div class="header">
      MESAS REDONDAS
      <a (click)="_toggleMesaRedondaModal()" (keypress.enter)="_toggleMesaRedondaModal()">FECHAR</a>
    </div>
    <div class="container-modal">

      <!-- <ul>
        <li>1. A INSERÇÃO DO RIO GRANDE DO NORTE NOS SISTEMA AGROALIMENTARES GLOBALIZADOS: UMA ANÁLISE DO CASO DA FRUTICULTURA
          A PARTIR DO CONCEITO DE VALOR AGREGADO Emanoel Márcio Nunes Walter Belik, Representante da Cooperativa de Produtores
          do Melão e Representante do Sebrae Matutino</li>
        <li>2. A MILITARIZAÇÃO ESCOLAR: UMA BOA SAÍDA PARA INEFICIÊNCIA ESTATAL NA PROMOÇÃO DO DIREITO À EDUCAÇÃO? Ângelo José
          Menezes Silvino Gabriel Miranda Brito, José Willington Germano e Ana Beatriz Ferreira Rebello Presgrave Matutino</li>
        <li>3. AGROTÓXICOS X AGROECOLOGIA: UM NECESSÁRIO DEBATE ENTRE ACADEMIA, INSTITUIÇÕES PÚBLICAS E SOCIEDADE Marise Costa
          de Souza Duarte Joyce Naiana Paiva de Lima, João Hélio Cavalcanti e Tibério Clemente Rodrigues de Souza Matutino</li>
        <li>4. ANÁLISE COMPARATIVA DA QUESTÃO HÍDRICA DO NORDESTE BRASILEIRO E DA ÁSIA CENTRAL: FALTA D’ÁGUA OU MÁ ADMINISTRAÇÃO
          DE RECURSOS? Ângelo José Menezes Silvino Luiza Fernandes de Abrantes Barbosa, Breno Fabrício da Silva Santos e
          Daniel César Neves e Silva Matutino</li>
        <li>5. ASPECTOS GERAIS DO CPC/15 - DISCUSSÕES CRÍTICAS Fabiana Dantas Soares Alves da Mota Ana Beatriz Ferreira Rebello
          Presgrave e Rafaela Oliveira Reis Cadó Matutino</li>
        <li>6. CAMINHOS PARA PÓS-GRADUAÇÃO Kesia Cristine Melo Alunos da pós-graduação do CCSA Matutino</li>
        <li>7. CIBERCONDRIA: UM PERIGO EMINENTE Thelma Pìgnataro Alunos do curso de Administração: Marketing Matutino</li>
        <li>8. DIVERSIDADE E PROBLEMAS DE GÊNERO NA INTERNET Mariana de Siqueira Gustavo Paiva, Monalisa de Souza e Martha da
          Costa Matutino</li>
        <li>9. DIVERSIDADE HUMANA E MARXISMO: DIVERSIDADE SEXUAL E A QUESTÃO DAS DROGAS EM DISCUSSÃO Mariana de Siqueira Gustavo
          Paiva, Monalisa de Souza e Martha da Costa Matutino</li>
        <li>10. LÊNIN, ZAPATA E O CONSTITUCIONALISMO BRASILEIRO: UMA ANÁLISE DO CENTENÁRIO DAS REVOLUÇÕES SOCIAIS Mariana de
          Siqueira Gustavo Barbosa, Gabriel Vitullo e Zéu Palmeira Matutino</li>
        <li>11. NA PRÁTICA, A TEORIA É OUTRA? INSTRUMENTALIDADE NA PERSPECTIVA DO PROJETO ÉTICO-POLÍTICO DO SERVIÇO SOCIAL BRASILEIRO
          Tibério Lima Henrique Wellen, Silvana Mara de Morais dos Santos e Daniela Neves Matutino</li>
        <li>12. O ENFRENTAMENTO À VIOLÊNCIA SEXUAL CONTRA CRIANÇAS E ADOLESCENTES: PERMANENTES OU NOVOS DESAFIOS PARA REDE DE
          PROTEÇÃO? Anna Luiza Lopes Liberato Alexandre Freire Brena Karoline Cavalcante de Oliveira, Adeílza Clímaco Ferreira
          e Cristiane Sousa Silva Matutino</li>
        <li>13. O LICENCIAMENTO AMBIENTAL COMO ESSENCIAL INSTRUMENTO DE GESTÃO E AS PROPOSTAS DE SUA FLEXIBILIZAÇÃO (COM ÊNFASE
          NA PEC 65/2012) Marise Costa de Souza Duarte Daniel Nicolau de Vasconcelos Pinheiro, Gilka da Mata Dias e Rondinelle
          Silva Oliveira Matutino</li>
        <li>14. OBEDIÊNCIA À AUTORIDADE NO CONTEXTO DA PSICOLOGIA DE MOVIMENTOS DE MASSA Jair Soares de Oliveira Segundo Ana
          Izabel Oliveira Lima, Fillipe Azevedo Rodrigues, Manuel Sabino Pontes e Rosivaldo Toscano dos Santos Júnior Matutino</li>
        <li>15. OBSTÁCULOS HERMENÊUTICO-JURÍDICOS PARA A EFETIVIDADE DAS POLÍTICAS PÚBLICAS Fabiano André de Souza Mendonça Vladimir
          da Rocha França e Hallison Rêgo Bezerra Matutino</li>
        <li>16. POLÍTICA TRIBUTÁRIA E DESIGUALDADES SOCIAIS: UM DEBATE NECESSÁRIO Igor Alexandre Felipe de Macedo Francisco Aurélio
          de Albuquerque Filho e Karol Marinho Matutino</li>
        <li>17. POLÍTICAS PÚBLICAS E AGRICULTURA FAMILIAR NA CADEIA GLOBAL DO MELÃO NO ESTADO DO RIO GRANDE DO NORTE: LIMITES
          E POSSIBILIDADES João Matos Filho Emanoel Márcio Nunes e Manoel Cândido Matutino</li>
        <li>18. TRABALHO DECENTE, CONDIÇÕES DE TRABALHO E PARTICIPAÇÃO FEMININA NA CADEIA PRODUTIVA DO MELÃO DO RN Valdenia Apolinário
          Representante Feminina e Representante do Ministério do Trabalho Matutino</li>
        <li>19. TUTELA EFETIVA DE DIREITOS NO ESTADO CONSTITUCIONAL: AS DECISÕES ESTRUTURAIS NO DIREITO BRASILEIRO Leonardo Martins
          Marcus Aurélio de Freitas Barro,  Marcus Vinicius Pereira Junior, Dimitre Soares, Guglielmo Marconi Soares de Castro
          e Giovanni Alessandro Begossi Matutino</li>
      </ul>

      <br><br>

      <ul>
        <li>1. ESTADO E SOCIEDADE NO DEBATE SOBRE SEGURANÇA ALIMENTAR Dalvanir Avelino da Silva Jean Pierre Tertuliano Câmara,
          Sonia Soares e Victor Hugo Dias Vespertino</li>
        <li>2. ARTE URBANA E LIBERDADE DE EXPRESSÃO NO CONTEXTO DO DIREITO À CIDADE Leonardo Martins Marise Costa de Souza Duarte,
          Miguel Nery Santos Silva e Natália Bastos Bonavides Vespertino</li>
        <li>3. BANCOS COMUNITÁRIOS: UMA ALTERNATIVA PARA SUPERAÇÃO DAS DESIGUALDADES SOCIAIS Rosângela Alves de Oliveira Daniel
          Pereira, Emanuel Cadó e Larissa de Carvalho Nunes Vespertino</li>
        <li>4. EMPREENDEDORISMO SOCIAL NO SÉCULO XXI Mauricio Assuero de Lima Freitas Kalyna Fernamda Batista da Silva, Maria
          de Fátima da Silva e Pauliana Pereira da Silva Marques Vespertino</li>
        <li>5. FORMAÇÃO DE GESTORES PÚBLICOS NO BRASIL: EXPERIÊNCIAS, CAMINHOS E ESTRATÉGIAS PARA PROFISSIONALIZAÇÃO Bruno Leonardo
          Bezerra da Silva Thiago Ferreira Dias,Cynara Carvalho de Abreu e Raquel Alves Santos   Vespertino</li>
        <li>6. OS DESAFIOS A SEREM ENFRENTADOS PARA IMPLEMENTAR A PESQUISA EMPÍRICA NO DIREITO: ENTRE O MÉTODO E A DOGMÁTICA
          Keity Mara Ferreira de Souza e Saboya Keity Mara Ferreira de Souza e Saboya e Luciano Athayde Chaves Vespertino</li>
        <li>7. PERSPECTIVAS DE GOVERNANÇA DO TURISMO NO BRASIL Wilker Nóbrega Jurema Dantas Vespertino</li>
        <li>8. POLÍTICAS E AÇÕES DE MEMÓRIAS INSTITUCIONAIS: RELATOS Professor DECIN Eliane Braga de Oliveirae Teodora de Araújo
          Alves Vespertino</li>
        <li>9. SOCIEDADE CIVIL E DIREITO: COMO EXERCER A CIDADANIA PARA REDUZIR A DESIGUALDADE SOCIAL Ana Luíza Félix Severo
          Carlos André Maciel Pinheiro Pereirae Adson Kepler Monteiro Maia Vespertino</li>
        <li>10. TURISMO E INCLUSÃO/EXCLUSÃO SOCIOESPACIAL Almir Félix Batista de Oliveira Maria Lúcia Bastos Alves, Maria Augusta
          Wanderley Seabra de Melo, Ana Karina de Oliveira Maia Vespertino</li>
        <li>11. TURISMO E PATRIMÔNIO CULTURAL: CENTROS HISTÓRICOS, GASTRONOMIA E TURISMO RELIGIOSO COMO FORMAS DE IDENTIDADE
          E DE PRESERVAÇÃO ATRAVÉS DA PRÁTICA TURÍSTICA. Almir Félix Batista de Oliveira Maria Lúcia Bastos Alves, Maria
          Augusta Wanderley Seabra de Melo e Ana Karina de Oliveira Maia Vespertino</li>
      </ul>

      <br><br>

      <ul>
        <li>1. DIREITO A SER CRIANÇA NA AMÉRICA LATINA: QUAL A RESPONSABILIDADE DO ESTADO NA INVISIBILIDADE INFANTIL? ANÁLISE
          CASUÍSTICA Ângelo José Menezes Silvino Francisco André Alves Moura, José Serafim da Costa Neto e Sânzia Mirelly
          da Costa Guedes Noturno</li>
        <li>2. LITERATURA E QUESTÃO SOCIAL Zéu Palmeira Sobrinho Henrique André Ramos Wellen e Zéu Palmeira Sobrinho Noturno</li>
        <li>3. O CENTENÁRIO DA CODIFICAÇÃO CIVIL NO BRASIL E REFLEXÕES SOBRE A TEORIA DAS INCAPACIDADES A PARTIR DO ESTATUTO
          DA PESSOA COM DEFICIÊNCIA Fabiana Dantas Soares Alves da Mota Catarina Cardoso Sousa França, Erica Vericia Canuto
          de Oliveira Veras, Anna Emanuella Nelson dos Santos Noturno</li>
        <li>4. POLÍTICAS PÚBLICAS E SEGURANÇA ALIMENTAR NO RIO GRANDE DO NORTE Fábio Resende de Araújo Dalvanir Avelino da Silva
          e Richard Medeiros de Araújo Noturno</li>
        <li>5. RACIONALIDADE DECISÓRIA E LIMITES AO IDEAL DE VIDA BOA: DIÁLOGO SOBRE A INTERVENÇÃO DO ESTADO NO FORO ÍNTIMO DO
          CIDADÃO Mariana de Siqueira Gustavo Barbosa, Gabriel Vitullo e Zéu Palmeira Noturno</li>
        <li>6. SUBNOTIFICAÇÃO DO ACIDENTE DE TRABALHO INFANTIL Fabiana Dantas Soares Alves da Mota Maxwellk da Silva Melo, Zéu
          Palmeira Sobrinho e Priscila Farias dos Anjos Noturno</li>
        <li>7. TRABALHO INFANTIL ARTÍSTICO E O PROTAGONISMO DOS MC´S Zéu Palmeira Sobrinho João Ricardo dos Reis Cavalcante Cerqueira,
          Winnie Alencar Farias e Suzana Melo de Oliveira Noturno</li>
        <li>8. TRABALHO INFANTIL ARTÍSTICO E O PROTAGONISMO DOS MC’S Zéu Palmeira Sobrinho Suzana Melo de Oliveira, João Ricardo
          dos Reis Cavalcante Cerqueira e Winnie Alencar Farias Noturno</li>
        <li>9. TRABALHO INFANTIL E ESCRAVO: UMA ANÁLISE A PARTIR DO DIREITO INTERNACIONAL DOS DIREITOS HUMANOS Fabiana Dantas
          Soares Alves da Mota Amanda Oliveira da Câmara Moreira, Rafaela Oliveira Reis Cadó e Saulo de Medeiros Torres Noturno</li>
        <li>10. TRIBUTAÇÃO DA ECONOMIA DIGITAL: CASOS UBER, NETFLIX E SPOTIFY Ana Beatriz Ferreira Rebello Presgrave Igor Alexandre
          Felipe de Macêdo, Félix Oliveira e Luiz Felipe Monteiro Seixas Noturno</li>
      </ul> -->
      <p>Em Breve...</p>

    </div>
  </div>
</div>

<div class="modal-news" [ngClass]="{'open': modalConferencia}">
  <div class="container-all">
    <div class="header">
      CONFERÊNCIAS - PROGRAMAÇÃO
      <a (click)="_toggleConferenciaModal()" (keypress.enter)="_toggleConferenciaModal()">FECHAR</a>
    </div>
    <div class="container-modal">
      <h3>27/5/2019 a partir de 19:00 até 21:00</h3>
      <ul>
        <li>ABERTURA DO 24º SEMINÁRIO DE PESQUISA DO CCSA EDUCAÇÃO, REDES SOCIAIS E OS DESAFIOS PARA A DEMOCRACIA</li>
        <li>Profa. Dra. Maria Arlete Duarte de Araújo (Departamento de Administração Pública e Gestão Social/CCSA/UFRN)</li>
        <li>Auditório do NEPSA I (105 vagas)</li>
      </ul>
      <br/>
      <h3>28/5/2019 a partir de 9:30 até 11:30</h3>
      <ul>
        <li>COMPETÊNCIAS SOCIOEMOCIONAIS</li>
        <li>Prof. Dr. Anielson Barbosa (UFPB)</li>
        <li>Auditório do NEPSA I (103 vagas)</li>
      </ul>
      <br/>
      <h3>28/5/2019 a partir de 15:30 até 17:15</h3>
      <ul>
        <li>TURISMO NA CONTEMPORANEIDADE: desafios (éticos) e a busca pelo bem comum</li>
        <li>Prof. João Tasso (UNB)</li>
        <li>Auditório do NEPSA I (103 vagas)</li>
      </ul>
      <br/>
      <h3>28/5/2019 a partir de 20:15 até 22:15</h3>
      <ul>
        <li>TENDÊNCIA DO VAREJO MUNDIAL</li>
        <li>Sr. Augusto Vaz (Empresário, Presidente da CDL Natal e Facilitador do Programa Empretec)</li>
        <li>Auditório do NEPSA I (103 vagas)</li>
      </ul>
      <br/>
      <h3>29/5/2019 a partir de 9:30 até 11:30</h3>
      <ul>
        <li>DESMONTE DE DIREITOS E OFENSIVA NEOCONSERVADORA: desafios ao serviço social na atual conjuntura</li>
        <li>Prof. Dr. Marcelo Sitcovsky (UFPB)</li>
        <li>Auditório do NEPSA I (103 vagas)</li>
      </ul>
      <br/>
      <ul>
        <li>DIREITO HUMANO À ALIMENTAÇÃO E PERFIL NUTRICIONAL DE INDÍGENAS NO BRASIL: AVANÇOS E DESAFIOS</li>
        <li>Profa. Dra Aline Ferreira (Instituto de Nutrição Social- UFRJ)</li>
        <li>Sala H - SETOR V (Auditório Ciências Contábeis) (60 vagas)</li>
      </ul>
      <br/>
      <h3>29/5/2019 a partir de 15:30 até 17:15</h3>
      <ul>
        <li>ABERTURA DO VIII COLÓQUIO DE PESQUISA EM CIÊNCIA DA INFORMAÇÃO CIÊNCIA ABERTA E MÉTRICAS ALTERNATIVAS: papeis e desafios para os bibliotecários</li>
        <li>Prof. Ronaldo Ferreira de Araújo-Doutor em Ciência da Informação (UFMG) - Professor Adjunto do Curso de Biblioteconomia (ICHCA/UFAL)</li>
        <li>Auditório do NEPSA I (103 vagas)</li>
      </ul>
      <br/>
      <h3>29/5/2019 a partir de 20:15 até 22:15</h3>
      <ul>
        <li>ABERTURA DO V COLÓQUIO SOBRE GESTÃO PÚBLICA: PARTICIPAÇÃO E CONTROLE SOCIAL NA GESTÃO PÚBLICA PORTAIS DE TRANSPARÊNCIA E POSSIBILIDADES PARA TOMADA DE DECISÃO NA GESTÃO PÚBLICA</li>
        <li>Prof. Gustavo Fontoura de Souza (IFRN)</li>
        <li>Auditório do NEPSA I (103 vagas)</li>
      </ul>
      <br/>
      <ul>
        <li>DIREITO AMBIENTAL</li>
        <li>Prof. Dr. Sérgio Gurgel da Silva (UERN)</li>
        <li>Sala B2 - SETOR I (50 vagas)</li>
      </ul>
      <br/>
      <h3>30/5/2019 a partir de 9:30 até 11:30</h3>
      <ul>
        <li>ABERTURA DO II COLÓQUIO FEMINISMO MATERIALISTA E MARXISMO AS LUTAS FEMINISTAS E ANTIRRACISTAS E O SERVIÇO SOCIAL</li>
        <li>Dra. Rosely Fernandes (Assistente Social da FIOCRUZ e Doutora em Serviço Social) e Profa. Dra. Janaiky Almeida (UFERSA) sob a  Coordenação da Profa. Dra. Rita de Lourdes e Fernanda Nascimento (Bolsista IC)</li>
        <li>Sala H2 - SETOR V (Auditório Ciências Contábeis) (60 vagas)</li>
      </ul>
      <br/>
      <h3>30/5/2019 a partir de 15:30 até 17:15</h3>
      <ul>
        <li>V COLÓQUIO SOBRE GESTÃO PÚBLICA: PARTICIPAÇÃO E CONTROLE SOCIAL NA GESTÃO PÚBLICA A POLÍTICA DE DADOS ABERTOS E OS SEUS DESAFIOS DE IMPLEMENTAÇÃO</li>
        <li>Prof. Elias Jacob Menezes Neto (Departamento de Direito-CERES/UFRN)</li>
        <li>Auditório do NEPSA I (103 vagas)</li>
      </ul>
      <br/>
      <ul>
        <li>II COLÓQUIO FEMINISMO MATERIALISTA E MARXISMO FEMINISMO MATERIALISTA E O ANTIRRACISMO: questões polêmicas e desafios</li>
        <li>Sra. Rivana Arantes (SOS Corpo) e pela Profa. Dra. Antoinette Madureira (UFRN), sob a coordenação da Profa. Dra. Iliadiana Diniz (UFRN) e de Késia Xavier (Bolsista IC)</li>
        <li>Sala H2 – SETOR V (Auditório Ciências Contábeis) (60 vagas)</li>
      </ul>
      <br/>
      <h3>30/5/2019 a partir de 20:15 até 22:15</h3>
      <ul>
        <li>CUSTOS E QUALIDADE DOS GASTOS GOVERNAMENTAIS: A EXPERIÊNCIA DO GOVERNO FEDERAL</li>
        <li>Sr.  Giuliano Passos Cardoso (Auditor Federal de Finanças e Controle)</li>
        <li>Auditório do NEPSA I (103 vagas)</li>
      </ul>
      <br/>
      <h3>31/5/2019 a partir de 9:30 até 11:30</h3>
      <ul>
        <li>ECONOMIA POLÍTICA DO CONHECIMENTO E DA INFORMAÇÃO: MERCADORIAS SEM VALOR, INDÚSTRIA CULTURAL E DEMOCRACIA NA ERA DA PÓS-VERDADE E DAS REDES SOCIAIS</li>
        <li>Prof. Rodrigues Alves Teixeira (PUC-SP)</li>
        <li>Auditório Núcleo de Prática Jurídica (90 vagas)</li>
      </ul>
      <ul>
        <li>PREMIAÇÃO DOS MELHORES PÔSTERES DO 24º SEMINÁRIO DE PESQUISA DO CCSA</li>
        <li>Auditório do NEPSA I (103 vagas)</li>
      </ul>
      <br/>
      <ul>
        <li>II COLÓQUIO FEMINISMO MATERIALISTA E MARXISMO LUTA DE CLASSE, VIOLÊNCIA CONTRA MULHER E RESISTÊNCIA</li>
        <li>Profa. Dra. Elaene Alves (UNB) e Profa. Dra. Fernanda Marques (UERN), sob a coordenação da Profa. Dra. Ilka de Lima e (Bolsista IC) e de Tathiane Souza (Bolsista IC)</li>
        <li>Sala H2 – SETOR V (Auditório Ciências Contábeis) (60 vagas)</li>
      </ul>
      <br/>
      <h3>31/5/2019 a partir de 14:00 até 16:30</h3>
      <ul>
        <li>II COLÓQUIO FEMINISMO MATERIALISTA E MARXISMO A CONTRIBUIÇÃO DO MARXISMO NO COMBATE A OPRESSÃO DA MULHER: precisamos falar sobre Feminicídio</li>
        <li>Profa. Fernanda Abreu(Direito UERN) e Profa. Dra. Rita de Lourdes (UFRN), sob a coordenação da Profa. Dra.Maria Célia Correa Nicolau (UFRN) e de Cecília Nascimento Johnson (Bolsista IC)</li>
        <li>Sala H2 – SETOR V (Auditório Ciências Contábeis) (60 vagas)</li>
      </ul>
      <br/>
      <ul>
        <li>XVIII SEMINÁRIO DE SEGURIDADE SOCIAL E TRABALHO O IMPACTO DAS REFORMAS SOCIAIS SOBRE O TRABALHO DECENTE</li>
        <li>Dr. Marcus Barberino (Juiz do TRT da 15ª Região)</li>
        <li>Auditório do NEPSA I (103 vagas)</li>
      </ul>
    </div>
  </div>
</div>


<div class="modal-news" [ngClass]="{'open': modalProgramacao}">
  <div class="container-all">
    <div class="header">
      PROGRAMAÇÃO
      <a (click)="_toggleProgramacaoModal()" (keypress.enter)="_toggleProgramacaoModal()">FECHAR</a>
    </div>
    <div class="container-modal">
      <!-- <a href="assets/ng2/download/CONFERENCIAS.pdf" target="_blank">CLIQUE AQUI</a> PARA BAIXAR A PROGRAMAÇÃO DE CONFERÊNCIAS.
      <br/>
      <a href="assets/ng2/download/MINICURSOS.pdf" target="_blank">CLIQUE AQUI</a> PARA BAIXAR A PROGRAMAÇÃO DE MINICURSOS.
      <br/>
      <a href="assets/ng2/download/MESAS-REDONDAS.pdf" target="_blank">CLIQUE AQUI</a> PARA BAIXAR A PROGRAMAÇÃO DE MESAS-REDONDAS.
      <br/>
      <a href="assets/ng2/download/OFICINAS.pdf" target="_blank">CLIQUE AQUI</a> PARA BAIXAR A PROGRAMAÇÃO DE OFICINAS. -->
      <p>Em Breve...</p>

    </div>
  </div>
</div>

<div class="modal-news" [ngClass]="{'open': modalPrazo}">
  <div class="container-all">
    <div class="header">
      <a (click)="_togglePrazoModal()" (keypress.enter)="_togglePrazoModal()">FECHAR</a>
    </div>
    <div class="container-modal">
        <p style="font-size:2em"><strong>ATENÇÃO!</strong></p>
        <p style="font-size:1.4em">Os certificados do evento já se encontram todos disponíveis por meio do acesso à conta no Sigeva</p>
        <p style="font-size:1.4em">Telefone da Secretaria: 3342-2288(Ramal 352)</p>
    </div>
  </div>
</div>

<div class="modal-news" [ngClass]="{'open': modalEmBreve}">
  <div class="container-all">
    <div class="header">
      <a (click)="_toggleEmBreveModal()" (keypress.enter)="_toggleEmBreveModal()">FECHAR</a>
    </div>
    <div class="container-modal">
      <p>Em breve...</p>
    </div>
  </div>
</div>

<div class="modal-news" style="z-index: 1000" [ngClass]="{'open': modal02}">
  <div class="container-all">
    <div class="header">
      I ENCONTRO ESTADUAL DE PESQUISADORES E EXTENSIONISTAS EM SSAN
      <a (click)="_toggle02Modal()" (keypress.enter)="_toggle02Modal()">FECHAR</a>
    </div>
    <div class="container-modal">
      <div>
        <p>O I ENCONTRO ESTADUAL DE PESQUISADORES E EXTENSIONISTAS EM SSAN: gestão social e desenvolvimento sustentável,
        lições para a sociedade e avanços para a democracia é um evento do Projeto SISAN-Universidades (UFRPE, UFRN e UFPB)
        junto ao ObservaSAN e em parceria com a OASIS/UFRN e PET-Zootecnia/EAJ/UFRN que objetiva trazer ao debate reflexões,
        vivências e estudos de pesquisadores e extensionistas na temática Soberania, Segurança Alimentar e Nutricional  (SSAN),
        incluindo o debate sobre povos originários,  de  modo  a  contribuir  com  a  socialização  de  conhecimentos, apontamentos
        para estudos futuros e construção de agenda para apoiar a gestão social e o desenvolvimento sustentável no
        Rio Grande do Norte contribuindo para a democracia e uma vida digna para todos os cidadãos. Coordenador: Prof. Dinara Leslye (DEPAD/UFRN)</p>
        <h3>29/05</h3>
        <ul>
          <li>Conferência(Manhã): DIREITO HUMANO À ALIMENTAÇÃO E PERFIL NUTRICIONAL DE INDÍGENAS NO BRASIL: AVANÇOS E DESAFIOS.
            <ol>
              <li>Profª Drª Aline Ferreira (Instituto de Nutrição Social- UFRJ). </li>
              <li>Debatedor: Prof. Dr. Washington Souza (DAPGS/UFRN) </li>
            </ol>
          </li>
          <li>Mesa-redonda(Tarde): GESTÃO SOCIAL E DESENVOLVIMENTO SUSTENTÁVEL: Reflexões para o Rio Grande do Norte
            <ol>
              <li><strong>Moderador: </strong>Prof. Dr. Fábio Resende (DAPGS/UFRN)</li>
              <li><strong>Convidada: </strong>Insegurança  alimentar  domiciliar:  fatores  determinantes  e  desfecho  no Semiárido nordestino – Profª Drª Poliana Palmeira (Escola de Saúde – UFCG)</li>
              <li><strong>Convidada: </strong>Direitos humanos, cidadania e controle social – Profª Drª Sônia Soares (DENUT - UFRN) </li>
              <li><strong>Convidada: </strong>Desafios na efetivação de compras públicas da agricultura familiar na alimentação escolar do estado do RN – Msc. Viviany Moura Chaves (CECANE/UFRN)</li>
            </ol>
          </li>
        </ul>
        <br/>
        <h3>28, 29 e 30/05</h3>
        <ul>
          <li>Minicurso(Manhã): ECONOMIA SOLIDÁRIA E PRODUÇÃO DE ALIMENTOS: UM DEBATE MULTIDISCIPLINAR EM COMUNIDADES INDÍGENAS.
            <ol>
              <li><strong>Professor responsável: </strong>Prof. Washington Souza (DAPGS)/Profa. Nila Patrícia (DENUT)</li>
              <li><strong>Professor responsável: </strong>Prof. Valdi Lima (EAJ)/Prof. Sérgio Marques (EAJ)</li>
              <li><strong>Professor responsável: </strong>Prof. Fábio Resende (DAPGS)/Profa. Dinara Leslye (DEPAD)</li>
            </ol>
          </li>
          <li>Ementa: Economia solidária e produção de alimentos. Inclusão social e produtiva. Associativismo e segurança sanitária na produção artesanal de alimentos. Sistema de Segurança Alimentar e Nutricional. Sistemas agroecológicos de produção. Sistemas integrados de produção de hortaliças e animais.</li>
          <li>Objetivo: Contribuir com a socialização  de  conhecimentos sobre sistemas agroalimentares e sua contribuição e viabilidade para fomento aos circuitos curtos de produção, ao tempo que busca discutir sua relação com a Soberania, Segurança Alimentar e Nutricional  (SSAN) de povos e comunidades tradicionais através de um debate multidisciplinar e integrado.</li>
        </ul>
      </div>
      <br/>
    </div>
  </div>
</div>
<div class="modal-news" style="z-index: 1000" [ngClass]="{'open': modal03}">
  <div class="container-all">
    <div class="header">
      Ciência Aberta: papeis e desafios para os bibliotecários
      <a (click)="_toggle03Modal()" (keypress.enter)="_toggle03Modal()">FECHAR</a>
    </div>
    <div class="container-modal">
      <br/>
      <div>
        <h3>29/05</h3>
        <ul>
          <li><strong>Mesa de Abertura(15:45)</strong>
            <ol>
              <li>Profa. Dra. Maria Arlete Duarte de Araújo (Diretora do CCSA/UFRN);</li>
              <li>Profa. Dra. Jacqueline Aparecida de Souza (Chefe do DECIN/UFRN);</li>
              <li>Prof. MSc. Francisco de Assis N. Galdino de Araújo (Coordenador COBIB/UFRN);</li>
              <li>Prof. Dr. Pedro Alves Barbosa Neto (PPGIC/UFRN) (Coordenador PPGIC/UFRN);</li>
              <li>Profa. Dra. Monica Marques Carvalho Gallotti (Coordenadora IX CPCI)</li>
            </ol>
          </li>
          <br/>
          <li>16h às 17:30: Palestra de abertura com o Prof. Dr. Ronaldo Ferreira de Araújo <strong>“Ciência Aberta e métricas alternativas: papeis e desafios para os bibliotecários”</strong></li>
          <li>17:30 Lançamento de livros: Professor Dr. Ronaldo Ferreira de Araújo, Professora Dra. Luciana Moreira e Prof MsC. Franscisco Araújo.</li>
        </ul>
        <br/>
        <h3>30/05</h3>
        <ul>
          <li>09h30 às 11h30<strong>Grupos Temáticos</strong></li>
          <li>13h às 15h<strong>Minicursos</strong></li>
          <li>15h30 às 17:00<strong>Mesa redonda:</strong> “Transformações na comunicação e avaliação científica”
            <ol>
              <li>Profa. Dr. Ronaldo Ferreira de Araújo (UFAL)</li>
              <li>Profa. Dra. Nancy Sanchéz Tarragó (UFRN)</li>
              <li>Mediadora: Dra. Monica Marques Carvalho Gallotti (UFRN)</li>
            </ol>
          </li>
        </ul>
        <br/>
        <h3>31/05</h3>
        <ul>
          <li>09h30 às 11h30: <strong>Grupos Temáticos</strong></li>
          <li>13h às 15h: <strong>Minicursos</strong></li>
          <li>Painel: “Pesquisas em Gestão da Informação e do Conhecimento”
            <ol>
              <li>Coordenador(a): Prof. Dr. Pedro Alves Barbosa Neto (PPGIC/UFRN) /Prof. Dr. Daniel Martins (PPGIC/UFRN) </li>
            </ol>
          </li>
          <li><strong>17h Encerramento</strong></li>
        </ul>
      </div>
      <br/>
    </div>
  </div>
</div>

<div class="modal-news" style="z-index: 1000" [ngClass]="{'open': modal04}">
  <div class="container-all">
    <div class="header">
      II COLÓQUIO FEMINISMO MATERIALISTA E MARXISMO
      <a (click)="_toggle04Modal()" (keypress.enter)="_toggle04Modal()">FECHAR</a>
    </div>
    <div class="container-modal">
      <div>
        <br/>
        <h3>30/05/2019 - Quinta-feira</h3>
        <ul>
          <li><strong>9h:00 Abertura</strong> Coordenação GEPTED-QTEMOSS; C.A; CRESS 14ª Região; DESSO, Coordenação Graduação e Pós-Graduação e Direção CCSA. </li>
          <li><strong>Coordenação da mesa de abertura</strong> Profª. Drª. Silvana Mara (UFRN)</li>
          <li><strong>09h:30 Palestra As lutas feministas e anti-racistas e o Serviço Social</strong>Drª Rosely Fernandes (Assistente Social da FIOCRUZ e Doutora em Serviço Social) e Profª Drª Janaiky Almeida (UFERSA) </li>
          <li><strong>Coordenação</strong> ProfªDrª Rita de Lourdes e Fernanda Nascimento (Bolsista IC)</li>
          <li><strong>14:30 Palestra</strong> feminismo materialista e o antirracismo: questões polêmicas e desafios: Rivana Arantes (SOS Corpo) e Profª. Drª Antoinette Madureira (UFRN) </li>
          <li><strong>Coordenação</strong> ProfªDrª Iliadiana Diniz (UFRN) e Késia Xavier   – (Bolsista IC)</li>
        </ul>
        <br/>
        <h3>31/05/2019 - Sexta Feira</h3>
        <ul>
          <li><strong>9h:30 - Palestra: Luta de classe, violência contra mulher e resistência</strong> -ProfªDrª Elaene Alves (UNB) e Profª Drª Fernanda Marques (UERN)</li>
          <li><strong>Coordenação</strong> ProfªDrª Ilka de Lima e (Bolsista IC) e Tathiane Souza (Bolsista IC)</li>
          <li><strong>Tarde: Palestra: A contribuição do</strong> Marxismo no combate a Opressão da mulher: precisamos falar sobre Feminicídio - Elizabeth Ferreira Cruz (Assistente Social e feminista) e Profª Drª Rita de Lourdes (UFRN)</li>
          <li><strong>Coordenação</strong> ProfªDrª Maria Célia Correa Nicolau (UFRN) e Cecília Nascimento Johnson (Bolsista IC) </li>
        </ul>
      </div>
      <br/>
    </div>
  </div>
</div>

<div class="modal-news" style="z-index: 1000" [ngClass]="{'open': modal05}">
  <div class="container-all">
    <div class="header">
     RODA DE CONVERSA
    <a (click)="_toggle05Modal()" (keypress.enter)="_toggle05Modal()">FECHAR</a>
    </div>
    <div class="container-modal">
      <ul>
        <h3>Título: <strong>Marxismo, política social e direitos.</strong></h3>
        <ol>
          <li>Orgs: Ivanete Boschetti, Elaine Behring e Rita de Lourdes de Lima</li>
          <li>São Paulo: Cortez, 2018.</li>
          <li>Autores de capítulos
            <ol>
              <li>Andréa Lima da Silva e Silvana Mara de Morais dos Santos</li>
              <li>Daniela Neves de Sousa</li>
              <li>Henrique André Ramos Wellen</li>
              <li>Miriam de Oliveira Inácio</li>
              <li>Rita de Lourdes de Lima</li>
              <li>Tássia Rejane Monte dos Santos</li>
            </ol>
          </li>
        </ol>
        <h3>Título: <strong>Interace entre Turismo e Desenvolvimento</strong></h3>
        <ol>
          <li>Turismo e Sustentabilidade: verso e reverso – Professor Dr. João Tasso – UNB</li>
          <li>Territorialidades do Turismo: dinâmicas e desafios do Mercado Turístico – Professora Andrea Dantas – UFRN</li>
          <li>The Routledge Companion to Rural Planning - Professor Mozart Fazito – UFRN</li>
        </ol>
        <h3>Título: <strong>Feminismo, Diversidade</strong></h3>
        <ol>
            <li><strong>Autor:</strong> Mirla Cisne | Silvana Mara de Morais dos Santos</li>
            <li><strong>Editora:</strong> Cortez</li>
        </ol>
      </ul>
      <br/>
    </div>
  </div>
</div>

<div class="modal-news" style="z-index: 1000" [ngClass]="{'open': modal06}">
  <div class="container-all">
    <div class="header">
        MOSTRA DE CINEMA CCSA - MEMÓRIAS DAS RESISTÊNCIAS: OS DIREITOS HUMANOS NO CINEMA
      <a (click)="_toggle06Modal()" (keypress.enter)="_toggle06Modal()">FECHAR</a>
    </div>
    <div class="container-modal">
      <ul>
        <h3>1ª Dia - 28/05: 17h - Auditório 2 - Nepsa 2</h3>
        <ul>
          <li><strong>CODINOME BRENO</strong> (2018), de Manoel Batista</li>
          <li><strong>OSVALDÃO</strong> (2014), de Vandré Fernandes</li>
          <li>Comentários: <strong>Helena Amorim</strong>(Comissão da Verdade/MG)</li>
        </ul>
        <h3>2ª Dia - 29/05: 17h - Auditório 2 - Nepsa 2</h3>
        <ul>
          <li><strong>UM CAFÉ E QUATRO SEGUNDOS</strong> (2018), de Cristiano Requião</li>
          <li><strong>500 - OS BEBÊS ROUBADOS PELA DITADURA ARGENTINA</strong> (2013), de Alexandre Valenti</li>
          <li>Comentários: <strong>Ilana Paiva</strong>(DEPSI/UFRN)</li>
        </ul>
        <br/>
        <h3>3ª Dia - 31/05: 17h - Auditório 2 - Nepsa 2</h3>
        <ul>
          <li><strong>A RUA DAS CASAS SURDAS</strong> (2016), de Flávio Gosta e Gabriel Mayer</li>
          <li><strong>FÉLIX, O HERÓI DA BARRA</strong> (2015), de Edson Fogaça</li>
          <li>Comentários: <strong>Vanuza Nunes</strong>(Comissão da Verdade/MG). Mestre em Direito UFMG</li>
        </ul>
        <br/>
      </ul>
      <br/>
    </div>
  </div>
</div>

<div class="modal-news" [ngClass]="{'open': modalColoquio}">
  <div class="container-all">
    <div class="header">
      Subeventos
      <a (click)="_toggleColoquioModal()" (keypress.enter)="_toggleColoquioModal()">FECHAR</a>
    </div>
    <div class="container-modal">
    </div>
  </div>
</div>


<div class="modal-news" [ngClass]="{'open': modalUmaNoticiaModal}">
  <div class="container-all">
    <div class="header" style="overflow: hidden;">
      <div class="big">{{umaNoticia?.title}} </div>
      <a (click)="_toggleUmaNoticiaModal()" (keypress.enter)="_toggleUmaNoticiaModal()">FECHAR</a>
    </div>
    <div class="container-modal" [innerHTML]="umaNoticia?.text"></div>
  </div>
</div>
